<div>
  <form [formGroup]="form">
      <div class="form-group">
          <label>First Name</label>
                        <input type="text" formControlName="username" class="form-control"  placeholder="Enter name" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required" style="color:red">This feild is required</div>
                            <div *ngIf="f.username.valid" style="color:red">blaa</div>
                        </div>
         
        </div>
        <div class="form-group">
            <label >email</label>
            <input  formControlName="email" type="text" class="form-control" id="zipcodeinput" placeholder="Enter email">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required" style="color:red">This feild is required</div>
            </div>
          </div>
          
          <div class="form-group">
              <label >phonenumber</label>
             
              
              <input  formControlName="phonenumber" type="number" class="form-control" id="zipcodeinput" placeholder="Enter phone number">
              <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
                  <div *ngIf="f.phonenumber.errors.required" style="color:red">This feild is required</div>
              </div>
              
            </div>
            <div class="form-group">
                <label >id</label>
                <input  formControlName="id" type="text" class="form-control" id="zipcodeinput" placeholder="Enter id">
                <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                    <div *ngIf="f.id.errors.required" style="color:red">This feild is required</div>
                </div>
              </div>
      

        <div class="form-group">
          <label>Zip Code</label>
          <input  formControlName="zipcode" type="text" class="form-control" id="zipcodeinput" placeholder="Enter Zip Code">
          <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
              <div *ngIf="f.zipcode.errors.required" style="color:red">This feild is required</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
       

  </form>
</div>